<h1>Create a Song</h1>

<%= form_for @song do |f| %>
<h1>title:<%= f.text_field :title %></h1>
<h1>artist name:<%= f.text_field :artist_name %></h1>
<%= f.collection_select( :genre_id, @genres , :id, :name) %>
<%= f.fields_for Note.new do |notes| %>
<%= notes.fields_for :attributes do |content| %>  

<%= content.text_field :content %>
<% end %>
<% end %>
<%= f.submit %>
<% end %>
